<app-test-form></app-test-form>
<form>
  <div id="user-data">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input type="text" id="userName" class="form-control" />
    </div>
    <button class="btn btn-default">Suggest an User Name</button>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" id="email" class="form-control" />
    </div>
  </div>

  <div class="form-group">
    <label for="secret">Secret Question</label>
    <select type="text" id="secret" class="form-control">
      <option value="pet">Your first pet?</option>
      <option value="teacher">Your first teacher?</option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
