<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group" *ngFor="let recipe of recipes">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <h5 class="mb-1">{{ recipe.name }}</h5>
            {{ recipe.description }}
          </div>
          <img
            src="{{recipe.imagePath}}"
            alt="Food Image"
            class="img-responsive"
            style="max-height: 50px"
          />
        </div>
      </a>
    </div>
  </div>
  <app-recipe-item></app-recipe-item>
</div>
